n8n-workflows/contact-workflow.json
{
  "name": "Contact Form Handler",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "contact",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "functionCode": "// Validate webhook secret\nconst secret = $env('WEBHOOK_SECRET');\nconst provided = $request.headers['x-webhook-secret'];\n\nif (secret !== provided) {\n  return {\n    json: { error: 'Unauthorized' },\n    statusCode: 401\n  };\n}\n\n// Validate required fields\nconst { name, email, message, role } = $input.first().json;\n\nif (!name || !email || !message) {\n  return {\n    json: { error: 'Missing required fields' },\n    statusCode: 400\n  };\n}\n\nreturn {\n  json: {\n    validated: true,\n    lead_id: $input.first().json.lead_id,\n    name,\n    email,\n    role: role || 'client',\n    message,\n    timestamp: $input.first().json.timestamp\n  }\n};"
      },
      "id": "validate-data",
      "name": "Validate Data",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [450, 300]
    },
    {
      "parameters": {
        "operation": "insert",
        "tableId": "contacts",
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $json.lead_id }}",
            "name": "={{ $json.name }}",
            "email": "={{ $json.email }}",
            "role": "={{ $json.role }}",
            "message": "={{ $json.message }}",
            "created_at": "={{ $json.timestamp }}",
            "status": "new"
          }
        }
      },
      "id": "supabase-insert",
      "name": "Add to Supabase",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [650, 300],
      "credentials": {
        "supabaseApi": {
          "id": "1",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "fromEmail": "={{ $env('SENDGRID_FROM_EMAIL') }}",
        "toEmail": "devsopariwala22@gmail.com",
        "subject": "🔔 New {{ $json.role === 'recruiter' ? 'Recruiter' : 'Client' }} Lead",
        "emailFormat": "html",
        "text": "=<h2>New Lead from {{ $json.name }}</h2>\n<p><strong>Type:</strong> {{ $json.role === 'recruiter' ? 'Recruiter' : 'Potential Client' }}</p>\n<p><strong>Email:</strong> {{ $json.email }}</p>\n<p><strong>Message:</strong></p>\n<p>{{ $json.message }}</p>\n<hr>\n<p><a href=\"https://supabase.com/dashboard/project/YOUR_PROJECT/editor/contacts?filter=id=eq.{{ $json.lead_id }}\">View in Supabase</a></p>\n<p><small>Received at {{ $json.timestamp }}</small></p>"
      },
      "id": "email-owner",
      "name": "Email Owner",
      "type": "n8n-nodes-base.sendGrid",
      "typeVersion": 1,
      "position": [850, 200],
      "credentials": {
        "sendGridApi": {
          "id": "2",
          "name": "SendGrid account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.facebook.com/v18.0/{{ $env('WHATSAPP_PHONE_NUMBER_ID') }}/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env('WHATSAPP_ACCESS_TOKEN') }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": []
        },
        "jsonParameters": true,
        "options": {},
        "bodyParametersJson": "={\n  \"messaging_product\": \"whatsapp\",\n  \"to\": \"{{ $env('WHATSAPP_RECIPIENT_NUMBER') }}\",\n  \"type\": \"template\",\n  \"template\": {\n    \"name\": \"lead_notification\",\n    \"language\": {\n      \"code\": \"en\"\n    },\n    \"components\": [\n      {\n        \"type\": \"body\",\n        \"parameters\": [\n          {\n            \"type\": \"text\",\n            \"text\": \"{{ $json.name }}\"\n          },\n          {\n            \"type\": \"text\",\n            \"text\": \"{{ $json.role }}\"\n          },\n          {\n            \"type\": \"text\",\n            \"text\": \"https://devsopariwala.com/admin\"\n          }\n        ]\n      }\n    ]\n  }\n}"
      },
      "id": "whatsapp-notify",
      "name": "WhatsApp Notify",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [850, 300]
    },
    {
      "parameters": {
        "fromEmail": "={{ $env('SENDGRID_FROM_EMAIL') }}",
        "toEmail": "={{ $json.email }}",
        "subject": "Thanks for reaching out!",
        "emailFormat": "html",
        "text": "=<h2>Hi {{ $json.name }},</h2>\n<p>Thanks for getting in touch. I've received your message and will respond within 24 hours.</p>\n<p>In the meantime, feel free to explore my <a href=\"https://devsopariwala.com/projects\">recent projects</a> or read my <a href=\"https://devsopariwala.com/blog\">latest blog posts</a>.</p>\n<p>Best,<br>Dev Sopariwala</p>\n<hr>\n<p><small>This is an automated confirmation. Your message: \"{{ $json.message.substring(0, 100) }}...\"</small></p>"
      },
      "id": "email-confirmation",
      "name": "Email Confirmation",
      "type": "n8n-nodes-base.sendGrid",
      "typeVersion": 1,
      "position": [850, 400],
      "credentials": {
        "sendGridApi": {
          "id": "2",
          "name": "SendGrid account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { success: true, message: 'Thanks! I\\'ll be in touch soon.' } }}"
      },
      "id": "response",
      "name": "Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1050, 300]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Validate Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Data": {
      "main": [
        [
          {
            "node": "Add to Supabase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add to Supabase": {
      "main": [
        [
          {
            "node": "Email Owner",
            "type": "main",
            "index": 0
          },
          {
            "node": "WhatsApp Notify",
            "type": "main",
            "index": 0
          },
          {
            "node": "Email Confirmation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Email Owner": {
      "main": [
        [
          {
            "node": "Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "WhatsApp Notify": {
      "main": [
        [
          {
            "node": "Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Email Confirmation": {
      "main": [
        [
          {
            "node": "Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}